<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">Rservaciones App</a>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/dashboard/huespedes"
            routerLinkActive="active"
            >Huespedes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/dashboard/habitaciones"
            routerLinkActive="active"
            >Habitaciones</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/dashboard/reservaciones"
            routerLinkActive="active"
            >Reservaciones</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/dashboard/usuarios"
            routerLinkActive="active"
            >Usuarios</a
          >
        </li>
      </ul>
    </div>
    <!-- <div class="d-flex align-items-center">
      <span class="text-light me-2 d-flex align-items-center">
        <i class="fas fa-user me-2"></i>
        <span *ngIf="username">Hola, {{ username }}!</span>
      </span>
      <button
        class="btn btn-outline-light btn-sm d-flex align-items-center"
        (click)="logout()"
      >
        <i class="fas fa-sign-out-alt me-2"></i>
        Cerrar sesión
      </button>
    </div> -->
  </div>
</nav>
