<div class="container-fluid mt-4">
  <h2>Huéspedes</h2>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="toggleForm()" class="btn btn-success">
      <i class="fa fa-plus"></i>
      Registrar Huésped
    </button>
  </div>

  <table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
      <tr style="text-align: center">
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Tipo Documento</th>
        <th scope="col">Nacionalidad</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr style="text-align: center" *ngFor="let h of huespedes; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ h.nombre }}</td>
        <td>{{ h.apellido }}</td>
        <td>{{ h.email }}</td>
        <td>{{ h.telefono }}</td>
        <!-- Mostramos los textos que vienen en HuespedResponse -->
        <td>{{ h.tipoDocumento }}</td>
        <td>{{ h.nacionalidad }}</td>

        <td *ngIf="showActions">
          <button class="btn btn-primary btn-sm me-1" (click)="editHuesped(h)">
            <i class="fa fa-edit"></i> Editar
          </button>
          <button
            class="btn btn-danger btn-sm ms-1"
            (click)="h.id && deleteHuesped(h.id)"
          >
            <i class="fa fa-trash"></i> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div
    class="modal fade"
    #huespedModalRef
    tabindex="-1"
    aria-labelledby="huespedModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="huespedModalLabel">{{ modalText }}</h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Cerrar"
          ></button>
        </div>

        <div class="modal-body">
          <form [formGroup]="huespedForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                id="nombre"
                type="text"
                class="form-control"
                formControlName="nombre"
              />
            </div>

            <div class="mb-3">
              <label for="apellido" class="form-label">Apellido</label>
              <input
                id="apellido"
                type="text"
                class="form-control"
                formControlName="apellido"
              />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                id="email"
                type="email"
                class="form-control"
                formControlName="email"
              />
            </div>

            <div class="mb-3">
              <label for="telefono" class="form-label">Teléfono</label>
              <input
                id="telefono"
                type="text"
                class="form-control"
                formControlName="telefono"
              />
            </div>

            <div class="mb-3">
              <label for="idTipoDocumento" class="form-label"
                >Tipo Documento</label
              >
              <select formControlName="idTipoDocumento" class="form-select">
                <option [ngValue]="null" disabled>
                  Seleccione un tipo de documento
                </option>
                <option *ngFor="let t of tipoDocumentos" [ngValue]="t.codigo">
                  {{ t.descripcion }}
                </option>
              </select>
            </div>

            <div class="mb-3">
              <label for="idNacionalidad" class="form-label"
                >Nacionalidad</label
              >
              <select
                id="idNacionalidad"
                class="form-select"
                formControlName="idNacionalidad"
              >
                <option [ngValue]="null" disabled>
                  Seleccione una nacionalidad
                </option>
                <option *ngFor="let n of nacionalidades" [ngValue]="n.codigo">
                  {{ n.descripcion }}
                </option>
              </select>
            </div>

            <div class="text-center">
              <button
                type="submit"
                class="btn btn-success px-4"
                [disabled]="huespedForm.invalid"
              >
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
