html,
body {
  height: 100%;
  margin: 0;
  background-color: #f4f4f9;
  color: #333;
}

.app-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

main {
  flex-grow: 1;
}

body {
  background-color: #f9f9f9;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f4f4f9; /* Gris muy suave */
}

.table-striped tbody tr:nth-child(even) {
  background-color: #ffffff; /* Blanco */
}
